@font-face{
    font-family:'Candyhome' ;  /* 字体名自定义即可 */
    /* 字体文件路径 */
    src:url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2');
    /* src:url('/fonts/Candy.woff2'); */
    font-display : swap;
}
  
body{
    font-family: 'Candyhome';
}

/* 版权链接去掉下划线 */
.layout_post .post-copyright .post-copyright-info a {
    text-decoration: none;
}

/* 博主昵称颜色 --也就是首页侧边栏头像下面那个昵称*/
.author-info__name {
    color: #49b1f5;
}

/* 页脚透明 */
#footer {
    background: transparent !important;
}

/* 首页中间打字效果上方 */
#page-header #site_title {
    color: #80bdab;
}

/* 顶部导航栏 */
#nav a {
    color: #f9f2f4;
}

/*页脚自定义字段字体颜色,也就是配置文件里的footer_custom_text*/
.footer_custom_text {
    color: #EEEEEE;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
    }

/*文章顶部图透明*/
#page-header {
    background: transparent !important;
}
#page-header.post-bg:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent !important; /*这个rgba可以自己改*/
    content: '';
}
/* 页脚透明 */
#footer{
    background: transparent!important;
  }
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
      background: transparent!important;
}
/* 头图透明 */
#page-header{
    background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
#footer::before{
    background: transparent!important;
    }
[data-theme="dark"]
#page-header::before{
    background: transparent!important;
    }

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    opacity: 0.95;
}
/* 首页侧栏卡片 */
.card-widget{
    opacity: 0.95;
}
/* 文章页面正文背景 */
div#post{
    opacity: 0.95;
}
/* 分页页面 */
div#page{
    opacity: 0.95;
}
/* 归档页面 */
div#archive{
    opacity: 0.95;
}
/* 标签页面 */
div#tag{
    opacity: 0.95;
}
/* 分类页面 */
div#category{
    opacity: 0.95;
}
/* 主页元素隐藏 */
#page-header:not(.not-top-img):before{
    background-color: rgb(0 0 0 / 0%);
}